<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title | default: "Services" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row text-center">
      {% assign hizmetler = site.hizmetler | sort: "order" %}
      {% for service in hizmetler %}
        <div class="col-md-4 hizmet-kart">
          <a href="{{ service.url | relative_url }}">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon | default: "fas fa-tools" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.heading | default: service.title }}</h4>
          </a>
          <div class="text-muted">{{ service.subtitle }}</div>
        </div>
      {% endfor %}
      </div>

      <div class="row">
        <div class="col-lg-12 text-center" style="margin-top: 30px;">
          <a href="{{ '/hizmetler/' | relative_url }}">Tüm hizmetlerimizi inceleyin &rarr;</a>
        </div>
      </div>
	  
    </div>
  </section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.services.title | default: "Services" }}</h2>
        {% if site.data.sitetext.services.text %}
    <h3 class="section-subheading text-muted">{{ site.data.sitetext.services.text }}</h3>
    {% endif %}
      </div>
    </div>
  
      <div class="row text-center">
      {% assign hizmetler = site.hizmetler | sort: "order" %}
      {% for service in hizmetler %}
        <div class="col-md-4 hizmet-kart">
          <a href="{{ service.url | relative_url }}">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon | default: "fas fa-tools" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.heading | default: service.title }}</h4>
          </a>
          <div class="text-muted">{{ service.subtitle }}</div>
        </div>
      {% endfor %}
      </div>

      <div class="row">
        <div class="col-lg-12 text-center" style="margin-top: 30px;">
          <a href="{{ '/hizmetler/' | relative_url }}">Tüm hizmetlerimizi inceleyin &rarr;</a>
        </div>
      </div>
  
  </div>
</section>
{% endif %}
<!-- End Services -->